# compiled output
/dist/
/tmp/
/.idea
/*.iml
/coverage

# dependencies
/bower_components/

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.prettierignore
/.prettierrc
/.template-lintrc.js
/.watchmanconfig
/config/ember-try.js
/CONTRIBUTING.md
/ember-cli-build.js
/renovate.json
/testem.js
/tests/
/yarn-error.log
/yarn.lock
.gitkeep
commitlint.config.js

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/npm-shrinkwrap.json.ember-try
/package.json.ember-try
/package-lock.json.ember-try
/yarn.lock.ember-try
