.nav {
  padding: 0 0 2rem 0;
}
.nav > button {
  background-color: tomato;
  outline: none;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  overflow: visible;
}
