<h2>Helpers</h2>
<button type="button" id="helpers" {{on "click" (transition-to "transition-to.list")}}>Go to Helpers</button>
<button type="button" id="show" {{on "click" (transition-to "transition-to.index" (query-params foo="bar"))}}>Show Query Params</button>
<button type="button" id="hide" {{on "click" (transition-to "transition-to.index" (query-params foo=undefined))}}>Hide Query Params</button>