<h2>Helpers</h2>

<button {{action (transition-to 'transition-to.list')}}>Go to Helpers</button>

<button {{action (transition-to 'transition-to.index' (query-params foo="bar"))}}>Show Query Params</button>