<h1>ember-reactive-helpers</h1>

<div class="nav">
  <button onclick={{action (transition-to "r")}}>R</button>
  <button onclick={{action (transition-to "transition-to")}}>Transition To</button>
  <button onclick={{action (transition-to "ember-concurrency")}}>Concurrency</button>
</div>

{{outlet}}
