<h2>Dasherize input</h2>
<span id="result">{{this.value}}</span>
<Input
  id="dasherize"
  @type="text"
  @value={{this.value}}
  {{on "keyup" (pipe (r/log "in dasherize") (r "dasherize" this.value) (fn (mut this.value)))}}
/>